h1{
    text-align: center;
    text-transform: uppercase;
    color: #3e1ea4;
    font-weight: bold;
    font-size: 20px;
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 15px;
}
mat-card
{
    margin-bottom: 30px;
    padding: 40px;

}
img {
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
   margin-left: 100px;
}
mat-card
{
    border:1px solid gray ;
    margin-top: 100px;
}
.display
{
    display: flex;
    align-items: center;
    justify-content: center;
}