table {
    width: 100%;
  }
  h1{
      margin: 30px;
  }
  .alert-success
{
  background-color:#c3f4c3;
  text-align: center;
  color: #ffffff;
  width: 50%;
  padding: 20px 0px 20px 0px;
  border-radius: 10px 10px 10px 10px;
  margin: 30px;
  margin: auto;
}
.alert-error
{
  text-align: center;
  color: #ffffff;
  background-color:#ffcccc;
  width: 50%;
  padding: 20px 0px 20px 0px;
  border-radius: 10px 10px 10px 10px;
  margin: 30px;
  margin: auto;
}
.form
{
  border: solid gray 1px;
  padding: 10px;
  margin: 20px;
}
.danger
{
  color: red;
}

.green
{
  color: green;
}
.bg-green
{
  background-color: #e1f2e1;
}
.bg-danger
{
  background-color: rgb(242, 209, 209);
}